// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4F46E5;
$blue-trans: #3129a0c2;
$dark-purple: #4338CA;
$dark-blue: #312e81;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
$light-gray: #F4F4F4;
$primary-bg: #f0f5fc;
$search-color: #e2deff;
$dark-gray: #1F2937;
$dark-gray-trans: #1f2937bb;
$darker-gray: #111827;
$gray: #4B5563;
$gray-trans: #4b5563a2;
$neutral-gray: #9CA3AF;
$light-blue: #EEF2FF;
$light-blue-trans: #eef2ffd3;
$purple-cojari: #5335C0
