.notification {
  display: flex;
  align-items: center;
  width: 45%;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-top: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 6px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: -1px;
  font-size: 14px;
  height: 25px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.owner-main-title {
  margin-left: 4rem;
}

.owner-icons li {
  margin: 8px 0px;
  i {
    margin-right: 8px;
    font-size: 1.2rem;
    color: $purple-cojari;
  }
}

.owner-photo img {
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 50%;
}
