<div class="" style="position: absolute; bottom: 0; right: 102px;">
  <%= image_tag "Login-svg1.svg" %>
</div>

<div class="" style="position: absolute; bottom: 0; left: 102px;">
  <%= image_tag "login-svg2.svg" %>
</div>

  <%# <h5 class="center-txt features-h fw-bold pb-3">Formulaire propriétaire à compléter</h5> %>
        <div class="container py-5">
        <%= render "form", owner: @owner %>
      </div>
