   <div class="menu-btn">
     <i class="fas fa-bars"></i>
   </div>
   <div class="side-bar">
     <header>
     <div class="close-btn">
       <i class="fas fa-times"></i>
     </div>
     <%= image_tag "logowhite.png" %>
        </header>
     <div class="menu">
       <div class="item"><a href="#"><i class="fas fa-desktop"></i>Tableau de Bord</a></div>
       <div class="item">
         <a class="sub-btn"><i class="fas fa-table"></i>Ma Copropriété<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
           <a href="#" class="sub-item">Mes Propriétés</a>
           <a href="#" class="sub-item">Mes Résidents</a>
           <a href="#" class="sub-item">Informations</a>
         </div>
       </div>
       <div class="item"><a href="#"><i class="fas fa-th"></i>Communication</a></div>
       <div class="item">
         <a class="sub-btn"><i class="fas fa-cogs"></i>Mes Finances<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
           <a href="#" class="sub-item">Mes Budgets</a>
           <a href="#" class="sub-item">Mes Frais</a>
           <a href="#" class="sub-item">Mes Paiements</a>
         </div>
       </div>
       <div class="item"><a href="#"><i class="fas fa-info-circle"></i>About</a></div>
     </div>
   </div>
   <section class="main">
     <h1>Sidebar Menu With<br>Sub-Menus</h1>
   </section>
