  <div class="container" data-controller="coproperty-new">

    <div class="" style="position: absolute; bottom: 0; right: 32px;">
      <%= image_tag "coproperty-creation.svg" %>
    </div>
    <div class="" style="position: absolute; bottom: 0; left: 32px; transform: rotateY(180deg);">
      <%= image_tag "man-with-paper.svg" %>
    </div>
   
    <%= render "form" %>

  </div>
