  <% if @property.owner.nil? %>
  <div class="card copy-card shadow mx-5 p-3">
    <h6 class="mb-3"> lien à envoyer au proprietaire</h6>

    <div id="copy-section" class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
      <input class="form-control clipboard-input" data-clipboard-target="input" type="text" value="<%=  link_path(@property.links.where(id: @property.id)) %>" readonly>
      <div class="input-group-append">
        <button class="btn btn-primary clipboard-button" data-action="click->clipboard#copy">Copy to Clipboard</button>
      </div>
    </div>
    <div class="p-2 mb-0 mt-2">
      First line of instruction for owners <br>
      Second line of instruction for owners <br>
      third line of instruction for owners <br>
    </div>
    <% end %>
  </div>
