<div class="container col-xxl-8 px-4 py-5">
    <div class="bg-effect"></div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://blush.design/api/download?shareUri=dsS1qPG79b3311ug&c=Skin_0%7E7362a5-0.1%7Eb3b2e6-0.4%7E9f91ca-0.5%7Eb3b2e6&w=800&h=800&fm=png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">La Copropriété, en toute transparence</h1>
        <p class="lead">Gérez votre copropriété, suivez vos finances, et créez des commaunautés bienveillantes !</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="button-86 btn-lg px-4 me-md-2">Commencer <i class="fa-solid fa-chevron-right"></i></button>
        </div>
      </div>
    </div>

    <%# features %>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2">Transparence</h3>
        <p>Offrez aux habitants de votre copriété une transparence complète sur les dépenses, budgets, paiements et décisions prises</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2">Communication</h3>
        <p>Communiquez directement avec l’ensemble des habitants grâce à un chat dédié, postez directement des annonces et recevez des requêtes</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2">Analyse</h3>
        <p>Visualisez les KPIs & rapports qui vous permettent de gérer l’évolution de votre copropriété, ainsi que le suivi de vos finances</p>
      </div>
    </div>
  </div>
