<%# <div class="gradient-custom-bar p-2"> %>
<%= render "layouts/navbar" %>
  <span content=""></span>
</div>
<div class="">
  <div class="container col-xxl-8 px-4 py-5">
      <div class="bg-effect"></div>


        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5">

          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://blush.design/api/download?shareUri=dsS1qPG79b3311ug&c=Skin_0%7E7362a5-0.1%7Eb3b2e6-0.4%7E9f91ca-0.5%7Eb3b2e6&w=800&h=800&fm=png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <%# <svg class="hero-blur" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800" opacity="0.48"><defs><filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feGaussianBlur stdDeviation="44" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter></defs><g filter="url(#bbblurry-filter)"><ellipse rx="148.5" ry="127.5" cx="318.8063527052316" cy="402.5323377679156" fill="hsl(38, 99%, 67%)"></ellipse><ellipse rx="148.5" ry="127.5" cx="434.48252636974416" cy="399.90516159297295" fill="hsl(316, 73%, 52%)"></ellipse><ellipse rx="148.5" ry="127.5" cx="304.85626971659235" cy="248.6538165826446" fill="hsl(185, 100%, 57%)"></ellipse></g></svg> %>
            <h1 class="display-5 fw-bold lh-1 mb-3 moto">La Copropriété, en toute transparence</h1>
            <p class="lead fw-bold features-p">Gérez votre copropriété, suivez vos finances, et créez des commaunautés bienveillantes !</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="button-86 btn-lg px-4 me-md-2">Commencer <i class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>
        </div>



      <%# features %>
      <div class="flex-container my-5">
      <div class="">
        <h1 class="center-txt features-h fw-bold">Pourquoi Cojari ?</h1>
      </div>
        <div class="feature col my-5 flex-item row-flow">
          <div class="pic feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img class="feature-img"src="https://blush.design/api/download?shareUri=sLcynpD71QfBPBni&c=Skin_0%7Ecdd6f2-0.5%7Ecdd6f2&w=800&h=800&fm=png" alt="">
          </div>
          <div class="description m-5">
            <h3 class="fs-1 fw-bold features-h">Transparence</h3>
            <p class="features-p">Offrez aux habitants de votre copriété une transparence complète sur les dépenses, budgets, paiements et décisions prises</p>
          </div>
        </div>
        <div class=" feature col my-5 flex-item row-rev">
          <div class="pic feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img class="feature-img"src="https://blush.design/api/download?shareUri=uqqDrASqwn1-R4fj&c=Skin_0%7Eb3b2e6-0.2%7Ecdd6f2-0.3%7E7362a5&w=800&h=800&fm=png" alt="">
          </div>
          <div class="description">
            <h3 class="fs-1 fw-bold rev-header features-h">Communication</h3>
            <p class="features-p">Communiquez directement avec l’ensemble des habitants grâce à un chat dédié, postez directement des annonces et recevez des requêtes</p>
          </div>
        </div>
        <div class=" feature col my-5 flex-item row-flow">
          <div class="pic feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img class="feature-img"src="https://blush.design/api/download?shareUri=q5XXsKMXBM3C-ZUy&c=Skin_0%7Ecdd6f2-0.7%7Eb3b2e6&w=800&h=800&fm=png" alt="">
          </div>
          <div class="description m-5">
            <h3 class="fs-1 fw-bold features-h">Analyse</h3>
            <p class="features-p">Visualisez les KPIs & rapports qui vous permettent de gérer l’évolution de votre copropriété, ainsi que le suivi de vos finances</p>
          </div>
        </div>
      </div>
    </div>

    <%# Testimonials %>
   <section class="gradient-custom">
  <div class="container mt-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="text-center mb-4 pb-2">
          <i class="fas fa-quote-left fa-3x text-white"></i>
        </div>

        <div class="card">
          <div class="card-body px-4 py-5">
            <section>
              <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center">
                  <h3 class="mb-4 features-p fw-semibold">Témoignages de nos clients</h3>
                </div>
              </div>

              <div class="row text-center">
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                  <h5 class="mb-3">Leila.E</h5>
                  <h6 class="text-primary mb-3">Habitante - Résidence Anfa Skyline</h6>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>Depuis que notre résidence utilise Cojari,
                     nous sommes informés de toutes les décisions et frais engagés,
                     c’est rassurant et ça nous encourage à cotiser en toute confiance !
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star-half-alt fa-sm text-warning"></i>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                  <h5 class="mb-3">Alia.K</h5>
                  <h6 class="text-primary mb-3">Représentante du Syndic</h6>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>Avec Cojari, je peux garantir une gestion optimale
                    de ma résidence, avec un outil intelligent et adapté qui m’aide à la prise
                     de décision et me fait économiser beaucoup de temps et de paperasse
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 mb-0">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                  <h5 class="mb-3">Yahya.M</h5>
                  <h6 class="text-primary mb-3">Directeur Général - Agence de Syndic Yourpo</h6>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>Grâce à Cojari, nous arrivons à gérer
                    dans notre agence plusieurs coproriétés à la fois ave vue globale,
                     tout en ayant un accès direct aux spécificités & sujets de chaucune d’entre elles
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- Carousel wrapper -->
          </div>
        </div>

        <div class="text-center mt-4 pt-2">
          <i class="fas fa-quote-right fa-3x text-white"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/contact_form" %>
<%= render "layouts/footer" %>
</div>
