MY DASHBOARD
<div class="container">
<div class="row">
  <div class="col-lg-4">
<%# //test// %>
<%= bar_chart [["2021-01-01", 2], ["2021-01-02", 3]] %>
 </div>
  <div class="col-lg-4">
  <canvas
    data-controller="chart"
    data-chart-data-value='{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'
  ></canvas>
  </div>
  <div class="col-lg-4">
  <canvas
    data-controller="chart"
    data-chart-data-value='{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'
  ></canvas>
  </div>
  </div>
</div>
