<%# /ChartJS %>

  <div class="d-flex "
        data-controller="dashboard">
  <%# Budget card %>
    <div class="card dashboard-var shadow border-0 var-hover"
          data-dashboard-variable-value="budget"
          data-action="click->dashboard#showVar">
      <div class="card-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-2">Budget</span>
                <span class="h3 font-bold mb-5 fade-font">$<%= @budget ? @budget.budget_amount : 0 %></span>
                <span class="h6 font-semibold text-muted text-sm d-block my-2">Statut:&nbsp;<%= @budget ? @budget.budget_status : "RAS"%></span>
                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Type:&nbsp;<%= @budget ? @budget.budget_type : "RAS"%></span>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape budget text-white text-lg rounded-circle">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="fa-solid fa-check"></i>
            </span>
            <span class="text-nowrap text-xs text-muted">sur la cible</span>
        </div>
      </div>
    </div>

    <%# /Budget Card %>
    <%# Requests Card %>

    <div class="card dashboard-var shadow border-0 ms-4 var-hover"
          data-dashboard-variable-value="request"
          data-action="click->dashboard#showVar">
      <div class="card-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-2">Requests</span>
                <span class="h3 font-bold mb-5 fade-font">&nbsp;12</span>
                <span class="h6 font-semibold text-muted text-sm d-block my-2">Statut:&nbsp;<%= %></span>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape expenses text-white text-lg rounded-circle">
                    <i class="fa-sharp fa-solid fa-thumbtack"></i>
                </div>
            </div>
        </div>
        <div class="d-flex mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-warning text-warning me-2">
                <i class="fa-solid fa-check"></i>
            </span>
            <span class="text-nowrap text-xs text-muted">on going</span>
        </div>
      </div>
    </div>
    <%# /requests Card %>
    <%# Messages %>
    <div class="card dashboard-var shadow border-0 ms-4 var-hover"
        data-dashboard-variable-value="message"
        data-action="click->dashboard#showVar">
      <div class="card-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-2">Messages</span>
                <span class="h3 font-bold mb-5 fade-font">&nbsp;245</span>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape messages text-white text-lg rounded-circle">
                    <i class="fa-solid fa-message"></i>
                </div>
            </div>
        </div>
      </div>
    </div>
    <%# /Messages %>
    <%# Properties %>
    <div class="card dashboard-var shadow border-0 ms-4 var-hover"
          data-dashboard-variable-value="property"
          data-action="click->dashboard#showVar">
      <div class="card-body">
        <div class="row">
            <div class="col">
              <span class="h5 font-bolder text-muted text-sm d-block mb-2">Properties</span>
              <span class="h3 font-bold mb-5 fade-font">&nbsp;24</span>

              <span class="h5 font-bolder text-muted text-sm d-block mt-3 mb-2">Owners</span>
              <span class="h3 font-bold mb-5 fade-font">&nbsp;22</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape properties text-white text-lg rounded-circle">
                <i class="fa-solid fa-house"></i>
              </div>
            </div>
        </div>
      </div>
    </div>
    <%# /Properties %>
