  <div class="container">
    <h1>Ajout Nouveau Paiement</h1>
      <div class="mt-3">
        <%= render "create_form", payment: @payment %>
      </div>
      <%= link_to 'Précédent', owner_coproperty_payments_path %>
  </div>
