// coproperties card
.card {
  // max-height: 8rem;
  margin-bottom: 1rem;
}
.tes-img {
  object-fit: cover;
}
.three-dots {
  top: 4px;
  right: 4px;
  background-color: rgba(245, 245, 245, 0.753);
  color: rgb(56, 52, 56);
  text-shadow: whitesmoke;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  display: block;
  margin: 5px;
  padding: 1px;
  &:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
}
.dots-menu {
  background-color: rgba(245, 245, 245, 0.715);
  top: 40px;
  right: 11px;
  border-radius: 12px 1px 12px 12px;
  padding: 11px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: 1px solid #cbd5e1ad;
  font-size: small;
  color: $dark-gray;
  // font-weight: 800;
  text-shadow: #938787;
}
.dropdown-button {
  margin: -1px;
  padding: 5px 7px;
  &:hover {
    background-color: rgba(245, 245, 245, 0.89) !important;
    cursor: pointer;
    border-radius: 8px !important;
  }
}
.dynamic-box {
  top: 9px;
  right: 7px;
  width: 95px;
  height: 123px;
}

.cop-card {
  width: 31.5%;
  margin: 0 !important;
  outline: 1px solid #cbd5e1;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: 100ms;
  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  img {
    height: 200px;
    object-fit: cover;
  }
}

.ratings i {
  font-size: 16px;
  color: red;
}
.strike-text {
  color: red;
  text-decoration: line-through;
}
.product-image {
  width: 100%;
}
.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.spec-1 {
  color: #938787;
  font-size: 15px;
}
h5 {
  font-weight: 400;
}
.para {
  font-size: 16px;
}

.property-card {
  height: 214px !important;
  max-width: 900px !important;
  .img {
    height: 212px !important;
    margin: 0 !important;
    border-radius: 6px 0 0 6px;
  }
  .info {
    width: fit-content !important;
    .title {
      text-align: left !important;
      padding: 0 !important;
      margin-top: 1rem !important;
    }
  }
}

.prop-index-card {
  margin-right: 1.5rem !important;
  .frame {
    width: 100% !important;
  }
  .img {
    margin: 0 !important;
    border-radius: 6px 6px 0 0;
    width: 100% !important;
  }
}

.copy-card {
  max-width: 900px !important;
}
#copy-section {
  width: 100%;
  .clipboard-input {
    border-radius: 6px 0 0 6px !important;
  }
  .clipboard-button {
    border-radius: 0 6px 6px 0 !important;
  }
}
