// coproperties card
.card {
  // max-height: 8rem;
  margin-bottom: 2rem;
}
// .cop-img {
//   object-fit: cover;
//   height: 236px !important;
//   width: 236px !important;
// }
.cop-card {
  max-width: 100%;
  margin: 0 !important;
}

.ratings i {
  font-size: 16px;
  color: red;
}
.strike-text {
  color: red;
  text-decoration: line-through;
}
.product-image {
  width: 100%;
}
.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.spec-1 {
  color: #938787;
  font-size: 15px;
}
h5 {
  font-weight: 400;
}
.para {
  font-size: 16px;
}
