.fade-font {
  color: rgb(29, 36, 36);
}

.var-hover {
  transition: 100ms;
  &:hover {
    outline: 2px solid $blue;
  }
}

.property-title {
  text-align: left !important;
}

.budget {
  background-color: rgb(39, 236, 138) !important;
}

.expenses {
  background-color: rgb(32, 101, 230);
}

.messages {
  background-color: rgb(166, 14, 236);
}

.properties {
  background-color: rgb(243, 144, 14);
}

.dashboard-var {
  width: 25%;
}

#variable {

  
}
