
.moto {
  color: $dark-purple;
}

.features-h {
  color: #5511c3;
  margin: 0 4rem;
}
.features-p {
  color: #21074b;
}
.main-txt {
  color: #330d72;
}

.footer-txt {
  color: rgb(208, 206, 222);
  text-decoration: none;
}
.center-txt {
  text-align: center;
}
.purple-bg {
  background-color: $primary;
  color: $primary-bg;
}
