.fixed-position {
  box-shadow: 0px 3px 12px -5px rgba(167, 129, 255, 0.458);
  transition: 500ms;
  z-index: 99;
}
.shadow {
  box-shadow: 0px 3px 12px -5px rgba(167, 129, 255, 0.458) !important;
}
.bg-white-trans {
  background-color: #ffffff7d !important;
}

.navbar {
  background-color: #f0f5fcc1 !important;
  position: fixed !important;
  width: 100%;
  top: 0;
  // border-radius: 16px;
  // border: 1px solid black;
}
.blur  {
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
}


/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: $primary;
  border-radius: 6px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 6px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.navbar-brand {
  img {
    object-fit: contain;
    height: 34px;
    margin: 0 10px;
    }

}
