.z-index-back {
  z-index: -99999;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}
.bottom {
  bottom: 0;
}
// .view-h {
//   height: 100vh;
//   width: 100vh;
// }
.center-top {
  margin-top: 50vh;
}
