.syn-profile {
  border: 1px solid #cbd5e1;
  background-color: $light-blue-trans;
  border-radius: 12px;
  width: 55%;
  margin-left: 4rem;
  .information {
    flex-grow: 1;
  }
}
.small-profile {
  width: 50px !important;
  height: 50px !important;
  margin-left: 1rem;
  transition: 1s;
  &:hover {
    border: 1px solid $light-gray;
    cursor: pointer;
  }
}
.profile-div {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.profile-popup {
  z-index: 99;
  right: -71px;
  top: 127px;
}

.profile-height {
  height: 9rem !important;
}
