.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #009675 0%, #ff003c 100%),
    linear-gradient(360deg, #0029ff 0%, #00ff84 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #ccff00 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.gradient-custom-bar {
  background: rgb(104,18,157);
background: linear-gradient(52deg, rgba(104,18,157,1) 13%, rgba(39,170,212,1) 61%, rgba(0,212,255,1) 100%);
}
.carousel-indicators {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
