  <div class="container">
    <%# <h1>Ajout Nouveau Frais</h1> %>
      <div class="mt-3">
        <%= render "create_form", expense: @expense %>
      </div>
      <%= link_to 'Précédent', syndic_coproperty_expenses_path %>
  </div>
