<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container p-5">
    <div class="">
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-lg-2  pt-5 order-lg-2">
                <img class="image-left" src="https://blush.design/api/download?shareUri=ReJ9MbjyNYifOxrO&c=Skin_0%7E9f91ca&w=800&h=800&fm=png" alt="">
            </div>

            <div class="col-lg-5 contact-form__wrapper order-lg-1">
                <h3 class="mb-4 features-p fw-semibold">Contactez-nous!</h3>
                <form action="#" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">Prénom</label>
                                <input type="text" class="form-control" id="firstName" name="firstName">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Nom</label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Numéro de téléphone</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="+212-654545454">
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="message">Message</label>
                                <textarea class="form-control" id="message" name="message" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Envoyer</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->

        </div>
    </div>
</div>
