 <footer class="site-footer blur">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>A propos</h6>
            <p class="text-justify footer-txt">COJARI : <i> La Copropriété, en toute transparence</i> - Gérez votre copropriété, suivez vos finances, et créez des commaunautés bienveillantes !</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Liens</h6>
            <ul class="footer-links">
              <li><a class="footer-txt" href="#">A propos de nous</a></li>
              <li><a class="footer-txt" href="#">Contactez-nous</a></li>
              <li><a class="footer-txt" href="#">Politique de confidentialité</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
         <a href="#">COJARI</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
