<%# other navbar %>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <%= link_to "Cojari", root_path %>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <a href="#!">Profile</a>
        </li>
      </ul>

    </nav>
  </div>
</section>
